*{
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

.header {
  width: 100%;
  height: 80px;
  display: block;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.inner_header {
  width: 90%;
  height: 100%;
  display: block;
  margin: 0 auto;
}

.logo_container {
  height: 100%;
  display: table;
  float:left;
}

.logo_container img {
  height: 60px;
  width: auto;
  padding-top: 10px;
}

.logo_container h1 {
  height: 60px;
  width: auto;
  padding-top: 20px;
  padding-left: 15px;
  display: table;
  float: right;
  font-size: 30px;
  color: rgb(192, 196, 10);
}

.navigation {
  float: right;
  height: 100%;
}

.navigation li {
  display: table;
  float:left;
  padding: 20px 10px;
}

.navigation li input {
  display: table-cell;
  height: 30px;
  width: auto;
}

.navigation li .dropdown {
  display: table-cell;
  height: 100%;
}

.navigation li .img-paw {
  position: relative;
  display: inline-block;
}

.img-paw-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.img-paw-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.img-paw:hover .img-paw-content {display: block;}

.img-paw .img-paw-content a:hover {background-color: #fff;}
